### SublimeText ###
*.sublime-workspace

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# App specific

# Node-RED config (should be initialized from ~/.node-red)
.config.json
.flows.json.backup

node_modules/
.tmp
dist
/src/main.js
.flows_cred.json.backup
src/javasrc
